@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --color-primary: #8a2424;
  --white-contact-link : rgb(238, 230, 230);
  --white: #fff;
  --black-background: rgb(17, 17, 17);
  --second-black-background: rgba(32, 30, 30, 0.933);
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    background-color: var(--white);
}

.black-bg{
  background-color: var(--black-background);
  color: var(--white);
}

.second-black-bg{
  background-color: var(--second-black-background);
  color: var(--color-primary);
}

.red-bg{
  background-color: var(--color-primary);
}

a, a:hover {
  text-decoration: none;
  color: unset;
}